.container, .container-md, .container-lg, .container-xl {
    max-width: 1800px; /* or whatever width you prefer */
    margin-left: auto;
    margin-right: auto;
  }

.page-heading h1 {
  font-size: 3rem !important; /* Smaller size */
}
