---
layout: default
---

<article class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title | escape }}</h1>
  </header>

 <div class = "post-content">
    <table style="border-collapse: collapse; border: none;">
    {% assign papers = site.papers | sort: "sequence_id" %}
      {% for paper in  papers %}
        <tr style="border: none;">
            <td style="border: none;">
                <div class="col-xs-12">
                    <p align="center">
                       <a href="{{ paper.pdf | prepend: '/assets/pdf/papers/' | prepend: site.baseurl | prepend: site.url }}">{{ paper.title }}</a>
                    </p>
                </div>
            </td>
	<td style="border: none;">
	    <div class="col-xs-12">
		<p align="center">
			{{paper.authors}}
		</p>
	    </div>
	</td>
	</tr>
      {% endfor %}
    </table>


  <div class = "post-content">
	{{ content }}
  </div>

</article>
